<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="end_effector">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import end_effector urdf file -->
    <xacro:include filename="$(find custom_end_effector)/urdf/end_effector_description.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="end_effector.ros2_control.xacro" />


    <xacro:end_effector_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
